<div class="d-flex flex-wrap flex-row">
    <div class="pe-4">
        <div class="fw-bold">
            Datum
        </div>
        <div>
            @Item.Date.ToShortDateString()
        </div>
    </div>
    <div class="pe-4">
        <div class="fw-bold">
            Erntemenge
        </div>
        <div>
            @Item.Quantity.ToString("N") @UnitState.Value.Units?.FirstOrDefault(f => f.Id == Item.UnitId)?.Name
        </div>
    </div>
    <div class="pe-4">
        <div class="fw-bold">
            Anwender
        </div>
        <div>
            @PeopleState.Value.Peoples?.FirstOrDefault(f => f.Id == Item.PersonId)?.Displayname
        </div>
    </div>
</div>
<div class="d-flex flex-wrap flex-row">
    @if (!string.IsNullOrEmpty(Item.Setting))
    {
        <div class="pe-4">
            <div class="fw-bold">
                Einstellung
            </div>
            <div>
                @Item.Setting
            </div>
        </div>
    }
</div>
<div class="d-flex flex-wrap flex-row">
    @if (!string.IsNullOrEmpty(Item.Comment))
    {
        <div class="pe-4">
            <div class="fw-bold">
                Kommentar
            </div>
            <div>
                @Item.Comment
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public HarvestVm Item { get; set; } = default!;
    [Inject] public IState<UnitState> UnitState { get; set; } = default!;
    [Inject] public IState<PeopleState> PeopleState { get; set; } = default!;
}
